version: '3'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    command: ['/bin/sh', '-c', 'npm install && adonis serve --dev']
    environment:
      - HOST=0.0.0.0
      - PORT=3333
      - NODE_ENV=development
      - APP_NAME=Decision
      - CACHE_VIEWS=false
      - APP_KEY=RIjc92u9cqkckjwiEjwqSAwwdjR
      - HASH_DRIVER=bcrypt
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_DATABASE=app
      - REDIS_USERNAME=
      - REDIS_PASSWORD=
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - .:/usr/app/
      - /usr/app/src/node_modules
    ports:
      - "3333:3333"
    networks:
      - app-network

  db:
    image: mariadb
    volumes:
      - ./data/db:/var/lib/mysql
    environment :
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_ROOT_HOST=%
    entrypoint:
      sh -c "
      echo 'CREATE DATABASE IF NOT EXISTS app;' > /docker-entrypoint-initdb.d/init.sql;
      /usr/local/bin/docker-entrypoint.sh --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci"
    healthcheck:
      test:  mysql --user=root --password=root
    networks:
      - app-network
      - internal-services

  pma:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8082:80"
    links:
      - db:db
    networks:
      - app-network

networks:
    app-network:
        driver: bridge
    internal-services:
        external: true